
services:
#Сервис backend (Приложение)
  backend:
    image: backend
    build: ./backend #указывает путь к директории с Dockerfile для сборки образа бэкенда.
    container_name: effective_backend # задает фиксированное имя контейнера.
    expose: 
      - "${BACKEND_PORT}" # ${BACKEND_PORT}: открывает указанный порт (из переменной окружения) для других контейнеров в этой же сети Docker. Порт не будет доступен с хостовой машины напрямую. данные считываются с файла .env
    networks:
      - app-network # подключает контейнер к виртуальной сети app-network.
    restart: unless-stopped # контейнер будет автоматически перезапускаться при сбое или перезагрузке системы, если только он не был остановлен вручную.

# Сервис nginx (Прокси-сервер)
  nginx:
    image: nginx:stable # Последняя стабильная версия nginx
    container_name: effective_nginx # задает фиксированное имя контейнера.
    ports:
      - "${NGINX_PORT}:80" # «пробрасывает» порт: запросы, приходящие на хост  на порт ${NGINX_PORT}, будут перенаправлены на внутренний порт 80 внутри контейнера Nginx. данные считываются с файла .env
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro # монтирует локальный файл конфигурации в контейнер. Флаг :ro означает read-only (только для чтения).
    depends_on:
      - backend # указывает Docker Compose запускать backend раньше, чем nginx.
    networks:
      - app-network # подключает Nginx к той же сети, что и бэкенд, чтобы они могли «видеть» друг друга по именам сервисов.
    restart: unless-stopped  # политика автоперезапуска.

networks:
  app-network: # создание собственной изолированной сети
    driver: bridge # использует стандартный драйвер моста, который позволяет контейнерам на одном хосте общаться между собой по IP или именам сервисов.